body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.listClassifieds {
  margin-top:50px;
}

.classifiedDisplay {
  margin-top:80px;
}

.displayImage {
  height: 200px;
  width: 200px;
}

.buttonBar {
  margin-top: 40px;
}

.editForm {
  margin-top:80px;
}
